name: Rust

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SOLANA_CLI_VERSION: "2.3.11"
  RUST_TOOLCHAIN: "1.90.0"

jobs:
  test-rust:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          solana-cli-version: ${{ env.SOLANA_CLI_VERSION }}
          rust-toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Build and test
        run: cargo test-sbf
